<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>
    <h1> {{title}}</h1>
    <body>
        
        <p> Basic details: 
            <br><br>Gay has only one beeja and he is dominant on boys. 
            <br><br> His profession include blowjob to boys
            <br><br>  He loves the company of boys and his hobbies include fucking boys and uncles.sometime even kids.
            <br><br>  Below are the few pics of him beware:
        </p>
        <img src="/a1.png">
        <img src="/a2.png">

    </body>
</html>